.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  font-weight: 500;
}

.md-typeset {font-weight:400;font-size: 18px;line-height: 25px; }

.md-typeset .theorem {
  border-radius: .2rem;
  display: block; 
  background-color: rgb(245, 245, 245); 
  padding: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.md-typeset .example {
  border-radius: .2rem;
  display: block; 
  background-color: rgb(245, 245, 245); 
  padding: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}


/* p, center, ul, ol {font-size: 20px; font-weight:400;line-height: 27px; } */
/* p, center {font-size: 18px; font-weight:300;line-height: 27px; } */

/* .md-header__button.md-logo {width: 3.5rem;} */
